/* App.css */

.App {
  text-align: center;
  font-family: Assistant, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row; /* שינוי כיוון החלוקה לשורה */
  align-items: flex-start;
}

.content {
  flex-grow: 1; /* התוכן יתפשט לכל המקום הזמין */
  padding: 20px;
  margin-top: 20px; /* מניח שגובה ה-header הוא 60px */
  margin-right: 290px;
}

.mobile-menu-open .content {
  margin-right: 0; /* כאשר התפריט הנייד נפתח, נסגור את המרווח מימין */
}

@media (max-width: 768px) {
  .App {
    flex-direction: column; /* בנייד, התפריט והתוכן יסודרו בטור */
    width: 100vW;
    box-sizing: border-box;
  }
  

  .content {
    margin-top: 70px; /* ביטול המרווח בראש העמוד בנייד */
    margin-right: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}
