.App {
  text-align: center;
  font-family: Assistant;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px;
}

/* Initial content style, assuming sidebar is open by default */
.content {
  transition: margin-right 0.5s ease;
  width: 100;
}

/* Adjust the margin based on sidebar's state */
.content.sidebar-open {
  margin-right: 290px; /* When sidebar is open */
}

.content.sidebar-closed {
  margin-right: 60px; /* When sidebar is closed */

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .App {
    padding: 70px 20px; /* מתאים ריווחים לנייד */
  }

  .content, .sidebar-open, .sidebar-closed {
    margin-right: 0; /* הסרת הריווח הצידדי */
  }

  .sidebar {
    display: none; /* הסרת התצוגה של התפריט הצידי במכשירים ניידים */
  }
}
