.car-list-container {
  width: 100%;
  min-width: 300px;
  margin: 0;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  box-sizing: border-box;
}

.section-table {
  width: 100%;
}

.section-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5cc5f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.section-bar-header-right {
 text-align: start;
  align-items: start;
}

.section-bar-header-right-title {
  font-weight: bold;
  margin-right: 0px;
  font-size: 22px;
}

.section-bar-header-right-info {
  font-size: 18px;
  margin-right: 0px;
}

.section-bar-header-left {
  display: flex;
  align-items: end;
  padding: 2px;
  width: 50%;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.search-box input[type="text"] {
  padding: 8px 8px 8px 30px; /* מרווח לאייקון מחיקה */
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 38px; /* או אחר בהתאם לגובה הרצוי */
  font-family: inherit;
}

.clear-icon {
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #a9a9a9; /* או כל צבע אחר שתרצה לאייקון */
}

.section-bar-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #f2f2f2;
  padding: 0px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.section-bar-footer-left {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 20px;
}

.but-add-cus {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.but-add-cus:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {


  .car-list-container {
    width: 100%;
    min-width: 200px;
    padding: 0px;
  }

}