:root {
  --color1: #E55812;
  --color2: #0F252E;
  --color3: #B6DAE7;
  --color4: #1F1A1F;
  --color5: #F9F6F1;
}

.div-table {
  overflow-x: auto;
  width: 100%;
}

.car-list {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.car-list th, .car-list td {
  border: 1px solid var(--color1);
  padding: 10px;
  text-align: start;
}

.car-list th {
  background-color: var(--color1);
  color: white;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.car-list td {
  padding: 10px;
  text-align: right;
  font-weight: bold;
}

.car-list a {
  color: var(--color1);
  text-decoration: none;
}

.car-list a:hover {
  color: var(--color2);
}

.car-list tr:nth-child(even) {
  background-color: var(--color5);
}

.car-list tr:hover {
  background-color: var(--color3);
  color: var(--color2);
}

/* עיצוב נוסף לתיבות הסימון */
input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
