.div-table {
  font-family: inherit;
 
  width: 100%;
  overflow-x: auto;
}

.car-list {
  width: 100%;
  border-collapse: collapse;
 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.car-list thead tr {
  background-color: transparent;
  text-align: left;
}

.car-list th,
.car-list td {

}

.car-list th {
  font-weight: normal; /* הכותרות רגילות */
  text-align: right;
}

.car-list td {

  border-bottom: 1px solid #e5e5e5;
  text-align: right;
  
}

.car-list tbody tr {
  background-color: white;
  transition: box-shadow 0.15s ease-in-out;
}

.car-list tbody tr.expanded-row,
.car-list tbody tr.expanded-row + tr { /* הוספת קו כחול לשורת הפרטים הנוספים */
  box-shadow: inset -3px 0 0 #007bff;
}

.expanded-content {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  box-sizing: border-box;
}

.vehicle-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: right;
  font-size: large;
}

.vehicle-details p {
  margin: 0; /* להסיר מרווחים מיותרים */
  flex: 1 1 auto; /* יתאים את עצמו לזמין במרחב של השורה */
}

.vehicle-details p strong {
  font-weight: bold; /* הפונט של התוכן מודגש */
}
.vehicle-actions {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
  padding-top: 0px;
  border-top: 1px solid #e5e5e5; /* קו דק מעל לכפתורים */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* צל מסביב לאלמנט */
}

.button {

  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex; /* להוסיף תצוגת פלקס */
  align-items: center; /* למרכז את האייקון והטקסט בכפתור */
  gap: 5px; /* מרווח בין אייקון לטקסט */
  font-family: inherit;
  font-size: medium;

}

.button:hover {
  background-color: #0056b3;
}

.button i { /* סגנון לאייקונים של הכפתורים */
  font-size: 1rem; /* או כל גודל אחר בהתאם לספריית האייקונים שלך */
}

/* התאמה לכל אייקון באמצעות מחלקות של ספריית האייקונים שבשימוש */
.button .icon-update { /* דוגמה למחלקה */
  /* כאן יכול להיות סגנון ספציפי לאייקון */
}

.button .icon-block { /* דוגמה למחלקה */
  /* סגנון נוסף לאייקון אחר */
}

.button .icon-order { /* דוגמה למחלקה */
  /* וכן הלאה... */
}
