.footer {
  width: 100%;
  height: 40px;
  padding: 0px;
  background-color: #333;
  color: #ddd;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; /* מאפשר לפוטר להתפשט על כל הרוחב */
  display: flex;
  justify-content: space-evenly; /* מפזר את התכנים בשוויון ברוחב הפוטר */
  flex-wrap: wrap; /* יאפשר שברור רספונסיבי התכנים יעברו לשורה חדשה */
  align-items: center; /* מירכז את האלמנטים באופק */
}

@media screen and (max-width: 600px) {
  .footer-section {
    width: 100%; /* כל סקציה תתפשט לרוחב מלא תחת 600px */
  }
}
