/* עיצוב כללי ומשתנים */
:root {
  --sidebar-width: 250px;
  --sidebar-icon-size: 30px;
  --sidebar-color: #2C3E50;
  --sidebar-text-color: #ECF0F1;
  --sidebar-hover-color: #34495E;
}

/* עיצוב בסיסי לתפריט הצידי */
.sidebar {
  width: var(--sidebar-width);
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
  padding: 20px;
  transition: width 0.3s ease-in-out;
  overflow-y: auto;
}

/* עיצוב כאשר התפריט סגור */
.sidebar.close {
  width: 20px;
  align-items: center;
}

.sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
  color: var(--sidebar-text-color);
}

.sidebar-link span {
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: var(--sidebar-hover-color);
}

/* עיצוב כפתור הפתיחה/סגירה */
.sidebar-toggle {
  position: absolute;
  bottom: 40px;
  right: 0px;
  width: calc(100% - 20px);
  border: none;
  background: transparent;
  color: var(--sidebar-text-color);
  padding: 10px;
  cursor: pointer;
}

.sidebar-toggle:focus {
  outline: none;
}

.sidebar-toggle:hover {
  color: var(--sidebar-hover-color);
}

/* עיצוב עבור מצב נייד */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar.close {
    width: 0;
  }
}
