/* הגדרות עיצוב כלליות */
body, .form-container {
    

  }
  
  .form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex; /* זה אמור להיות flex כדי לאפשר פלקסביליות */
    flex-direction: column; /* אלמנטים אחד מתחת לשני */
    align-items: flex-start; /* יישור לתחילת הצד הימני בכיווניות RTL */
    
    
  }

  .error-message {
    color: red;
    font-size: 16px;
    margin-top: 0px;
    width: 100%;
    justify-content: center; /* זה ימרכז את הכפתורים אופקית */
    align-items: center;   /* זה ימרכז את הכפתורים אנכית (אם הגובה של האלמנט המכיל גדול מזה של הכפתורים) */
 
  }
  
  
  .search-area {
    width: 100%;
    margin-bottom: 10px; /* מוסיף מרווח לתחתית האזור כדי שהתוצאות לא ידבקו */
  }
  
  .buttons-box {
    display: flex;        /* זה יסדר את הכפתורים בשורה אחת */
    justify-content: start; /* זה ימרכז את הכפתורים אופקית */
    align-items: center;   /* זה ימרכז את הכפתורים אנכית (אם הגובה של האלמנט המכיל גדול מזה של הכפתורים) */
  }

  .search-box {
    display: flex;        /* זה יסדר את הכפתורים בשורה אחת */
    justify-content: start; /* זה ימרכז את הכפתורים אופקית */
    align-items: center;   /* זה ימרכז את הכפתורים אנכית (אם הגובה של האלמנט המכיל גדול מזה של הכפתורים) */
  }
  

  .search-box, .buttons-box {
    width: 100%; /* מוסיף רוחב כדי למלא את המרחב */
    margin-bottom: 0px; /* מוסיף מרווח בין האלמנטים */
     
  }
  
  .search-car-input, button {
    width: auto; /* שונה מ-100% כדי שיתאימו לטקסט שלהם */
    height: 40px;
    padding: 0 15px;
  
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .search-status {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .results-container {
    width: 100%; /* רוחב התוצאות כעת מוגדר לכל הרוחב */
    margin-top: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: right; /* יישור הטקסט לימין לכל הכרטיס */
  }
  
  .card-header {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: right; /* יישור הטקסט לימין */
  }
  
  .card-body p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .card-body p span {
    font-weight: bold;
  }
  