.container {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 20px; /* רווח בין הקונטיינרים */
}

.formContainer {
 width: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  
}



.section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1 1 calc(33.33% - 30px);
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary-color);
  
}

.input, .select, .textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: medium;
  
}

.react-datepicker-wrapper {
  display: block;
  
}

.checkbox {
  margin-top: 5px;
}

.textarea {
  height: 100px;
}



.submitButton {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:large;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

.selectButton {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.selectButton:hover {
  background-color: var(--secondary-color);
  color: white;
}

.submitButton:hover {
  background-color: var(--main-color);
  color: white;
}


.linkButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: start;
  font-family: inherit;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 2px;
  animation: spin 1s linear infinite;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selectedCarDetails {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.selectedCarDetails p {
  font-size: large;
  font-weight: bold;
  margin: 5px;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.totalPrice {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
}

.carImage {
  width: 100%;
  
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .formContainer, .summaryContainer {
    flex: 1 1 100%;
  }
}

@media (max-width: 600px) {
  .section {
    flex: 1 1 100%;
  }
}
