.car-list-container {
  width: 100%;
  min-width: 300px;
  margin: 0;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  flex-direction: column;

}

.section-table {
  width: 100%;
}

.but-add-cus {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.but-add-cus:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {


  .car-list-container {
    width: 100%;
    min-width: 200px;
    padding: 0px;
  }

}