.editDetailsForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputFieldsContainer {
  flex: 1; /* Take all available space except for the buttons */
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputField label {
  font-weight: bold;
}

.inputField input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Move buttons to the left */
  gap: 10px;
  margin-top: 10px;
}

.saveButton, .cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.saveButton:hover {
  background-color: #45a049;
}

.cancelButton:hover {
  background-color: #e53935;
}
