.editDetailsForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.inputFieldsContainer {
  flex: 1; /* Take all available space except for the buttons */
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.checkboxField {
  display: flex;
  align-items: start;
  gap: 10px; /* רווח בין התיבה לתווית */
}

.checkbox {
  display: block;
}

.inputField label, .checkboxField label {
  font-weight: bold;
  color: var(--secondary-color);
}

.inputField input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* Move buttons to the left */
  gap: 10px;
  margin-top: 10px;
}

.saveButton, .cancelButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.saveButton:hover {
  background-color: #45a049;
}

.cancelButton:hover {
  background-color: #e53935;
}
