.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; /* לוודא שהכותרת מתפרסת על כל הרוחב */
  height: 60px;
  display: flex;
  justify-content: space-between; /* שינוי כיוון הסידור לתמיכה ב-RTL */
  align-items: center;
  background-color: var(--1-color);
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  
}

.div-menu-toggle {
  display: none; /* הסתרת כפתור התפריט בתצוגת מחשב */
}

.logo-link {
  align-items: center;
  height: 60%;
  order: 1; /* מבטיח שהלוגו יהיה תמיד הראשון מימין ב-RTL */
}

.logo {
  height: 100%;
}

.header-search {
  display: flex;
  position: relative;
  flex-grow: 1; /* אפשר לחיפוש לגדול ולתפוס יותר מקום */
  order: 3; /* החיפוש יהיה לפני האייקונים */
  align-items: center;
  margin-right: 10px;
  color: var(--main-color)
}

.header-search-input {
  width: 60%; /* נותן לתיבת החיפוש לגדול לכל הרוחב הזמין */
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  font-family: inherit;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  order: 4; /* מיועד להיות האחרון בשורה */
}


.search-suggestions {
  position: absolute;
  display: flex;
  flex-direction: column; /* מסדר את ההצעות אחת מתחת לשנייה */
  width: 300px;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000; /* לוודא שהרשימה תוצג מעל לאלמנטים אחרים */
  text-align: right;
}

/* השארת ההגדרות הקיימות כמות שהן */

.suggestion {
  display: flex;
  flex-direction: row; /* הופך את כיוון הפריטים כך שהאייקון יהיה בצד ימין */
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
  padding: 10px;
  justify-content: space-between; /* מפריד בין האייקון לבין טקסט ההצעה והתיאור */
  font-size: large;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.suggestion .icon {
  flex-shrink: 0; /* מונע מהאייקון להתכווץ או להשתנות בגודלו */
}

.suggestion .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* מיישר את טקסט ההצעה והתיאור לצד ימין */
  text-align: right; /* מיישר את הטקסט לימין */
}

.suggestion .description {
  font-size: 0.8em;
  color: #888;
}



@media (max-width: 768px) {
  .header {
    justify-content: space-between; /* לוודא סידור מתאים ל-RTL גם בנייד */
    padding: 5px 10px; /* קצת יותר פדינג בצדדים */
    box-sizing: border-box;
  }

  .div-menu-toggle {
    display: flex; /* הצגת הכפתור בנייד */
    align-items: center;
    order: 1; /* הכפתור יהיה הראשון מימין ב-RTL */
    margin-left: 10px;
  }

  .menu-toggle {
    display: block; /* הצגת הכפתור */
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 0;
  }

  .logo-link {
    order: 2; /* הלוגו יהיה אחרי הכפתור */
  }

  .header-search {
    order: 3; /* החיפוש יהיה לפני האייקונים אבל אחרי הלוגו */
    flex-grow: 0; /* מנע גדילה אוטומטית של תיבת החיפוש */
    width: auto; /* חזרה לרוחב אוטומטי ולא ל-100% */
   
  }

  .header-search-input {
    /* אם תרצה לשנות את הגדלים או המרווחים של תיבת החיפוש במצב נייד, תוכל לעשות זאת כאן */
 
  }

  .header-icons {
    order: 4; /* האייקונים ימשיכו להיות האחרונים בשורה */
  }

  .menu-toggle {
    display: block; /* הצגת הכפתור בתצוגה בנייד */
  }
}

