.section-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--5-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.section-bar-header-right {
  text-align: start;
  align-items: start;
}

.section-bar-header-right-title {
  font-weight: bold;
  margin-right: 0px;
  font-size: 1.4em;
  color: var(--1-color);
}

.section-bar-header-right-info {
  font-size: 1em;
  margin-right: 0px;
  color: var(--1-color);
}

.section-bar-header-left {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 10px;
}

.buttons-container {
  display: flex;
  gap: 5px;
}

.secondary-buttons-container {
  display: flex;
  gap: 5px;
  height: 100%;
}



