
.section-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section-bar-header-right {
   text-align: start;
    align-items: start;
  }
  
  .section-bar-header-right-title {
    font-weight: bold;
    margin-right: 0px;
    font-size: 22px;
  }
  
  .section-bar-header-right-info {
    font-size: 18px;
    margin-right: 0px;
    color: var(--secondary-color);
  }
  
  .section-bar-header-left {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2px;
    width: 50%;
  }
  
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
    width: 50%;
    color: var(--main-color)
  }
  
  .search-box input[type="text"] {
    padding: 8px 8px 8px 30px; /* מרווח לאייקון מחיקה */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 38px; /* או אחר בהתאם לגובה הרצוי */
    font-family: inherit;
    font-size: 18px;
  }
  
  .clear-icon {
    position: absolute;
    left: 10px;
    cursor: pointer;
    color: #a9a9a9; /* או כל צבע אחר שתרצה לאייקון */
  }
  