.section-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.section-bar-header-right {
  text-align: start;
  align-items: start;
}

.section-bar-header-right-title {
  font-weight: bold;
  margin-right: 0px;
  font-size: 22px;
}

.section-bar-header-right-info {
  font-size: 18px;
  margin-right: 0px;
  color: var(--secondary-color);
}

.section-bar-header-left {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px;
  width: 50%;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.custom-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--secondary-color);
}
