.container {
    flex-direction: column;
    gap: 20px;
    direction: rtl; /* הגדרת RTL */
  }
  
  .header {
    width: 100%;
  }
  
  .main {
    display: flex;
    flex-direction: row; /* מיקום הפילטר מצד שמאל */
    gap: 20px;
  }

  .main2 {
    display: flex;
    flex-direction: column; /* מיקום הפילטר מצד שמאל */
    gap: 20px;
  }
  
  .table-container {
    flex: 3;
  }
  
  .filter-container {
    flex: 1;
  }
  
  
@media (max-width: 768px) {


  .main {
    display: block;
    gap: 20px;
  }

}