.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  box-sizing: border-box;
}

.container * {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.field {
  flex: 1 1 20%; /* התאמה לרוחב משתנה */
  margin: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #343a40;
}

.input,
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  color: #495057;
  background-color: #fff;
  transition: border-color 0.3s ease;
  font-family: inherit;
}

.input:focus,
.select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.divBtn {
  width: 100%;
}

